*{
  box-sizing:border-box;
}
html{
  font-size:15px;
}
body{
  margin:0;
  font-family:'Open Sans',sans-serif;
}
a,a:link{
  text-decoration: none;
}
input:focus{
  outline:none;
}
.container{
  max-width:1240px;
  min-width: 300px;
  margin:0 auto;
  padding:0 20px;
}
.flex-space-between{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-space-around{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h1{
  font-family: 'Poppins';
  font-weight:700;
  font-size:2rem;
  margin:1.2em 0 1em;
  line-height:1.6;
}
.larg-h{
  font-size:2.6rem;
}
p{
  font-weight:400;
  max-width:56ch;
  font-size:1rem;
  margin:1em 0;
  line-height:1.6;
}
.larg-p{
  font-size:1.15rem;
}
p.centered{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.xlarg-text{
  font-size:5rem;
  font-weight:700;
}
.btn{
  display:inline-block;
}
.btn.larg{
  background-color:hsl(322, 100%, 66%);
  color:#fff;
  padding:25px 100px;
  border-radius:100px;
  font-size:1.2rem;
  font-weight:600;
  margin:3rem 0 1rem;
  box-shadow:0 4px 8px rgba(0,0,0,0.2);
}
.btn.larg:hover, footer [type="submit"]:hover{
  background:hsl(321, 100%, 78%);
}
.center{
  text-align: center;
}
.desktop{display:block;}
.mobile{display:none;}
/*start header*/
header{
  margin:40px 0 0;
}
header .logo{
  height:30px;
}
header .btn.free-try{
  color:hsl(322, 100%, 66%);
  font-size:1.1rem;
  font-weight:400;
  padding:5px 30px;
  border:solid 1px;
  border-radius:30px;
}
header .btn.free-try:hover{
  color:hsl(321, 100%, 78%);
}
header h1{
  text-align:center;
  margin-top:200px;
}
header .screen-mockups{
  margin:80px 0;
}
header .screen-mockups>img{
  width:80%;
}
/*end header*/
section{
  position:relative;
  overflow-y: visible;
}
/*start carde*/
.carde{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin:20px 0;
}
.carde>img{
  margin-right:auto;
  height:25px;
}
.carde>#title{
  font-size:1.1rem;
  color:#aaa;
}
/*end carde*/
/*start feature*/
section.altern:nth-child(2n+1){
  background:hsl(207, 100%, 98.5%);
  margin:calc(100vw * .1 + 100px) 0;
}
section.altern:nth-child(2n+1)>.features.flex-space-between{
  flex-direction:row-reverse;
}
.features>div{
  width:40%;
}
.features>.illustration>img{
  width:100%;
}
.bg-section-top, .bg-footer-top, .bg-section-bottom{
  position:absolute;
  width:100%;
}
.bg-section-top, .bg-footer-top{
  bottom:calc(100% - 4px);
}
.bg-section-bottom{
  top:calc(100% - 4px);
}
/*end feature*/
/*start footer*/
footer{
  position:relative;
  background-color:hsl(192, 100%, 9%);
  color:#fff;
  margin:calc(100vw * .1 + 100px) 0 0;
  padding:60px 0 60px;
}
footer .flex-space-between{
  align-items: flex-start;
}
footer .logo{
  height:30px;
  filter:saturate(0) brightness(100);
  margin-bottom:1.5rem;
}
footer h1{
  font-size:1.8rem;
  margin:0 0 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
}
footer p{
  max-width:42ch;
}
footer [type="email"], footer [type="submit"]{
  font-family: 'Open Sans', sans-serif;
  font-size:1rem;
  padding:.6em .5em;
  margin:1rem 0;
  border-radius:4px;
  border:solid 1px transparent;
}
footer [type="email"]{
  width:39ch;
  margin-right:4ch;
}
footer [type="email"]:focus:invalid{
  outline:none;
  border:solid 1px hsl(0, 100%, 63%);
}
footer [type="submit"]{
  color:#fff;
  background:hsl(322, 100%, 66%);
  padding-left:30px;
  padding-right:30px;
}
footer form{
  position:relative;
}
[type="email"] + span{
  position:absolute;
  top:3.8rem;
  left:0;
  font-size:.8rem;
  color:hsl(0, 100%, 63%);
  display:none;
}
[type="email"]:focus:invalid + span{
  display:block;
}
footer address{
  text-decoration: none;
  font-style: unset;
}
footer address img.icon{
  width:1em;
  margin-right:2ch;
}
.s-media{
  margin-top:60px;
  font-size:2rem;
  user-select: none;
}
.s-media span{
  color:#fff;
  font-size:1em;
  margin:0;
  margin-right:1rem;
}
.s-media .icon-twitter-square{
  font-size: 1.15em;
}
.s-media span:hover{
  color:hsl(207, 100%, 68%);
}
/*end footer*/

@media (max-width:700px){
  .desktop{display:none;}
  .mobile{display:block;}
  h1{
    font-size:1.5rem;
  }
  p{
    font-size:.9rem;
    max-width:38ch;
  }
  .larg-h{
    font-size:1.9rem;
  }
  .larg-p{
    font-size:.95rem;
  }
  .btn.larg{
    font-size:1rem;
    padding:15px 50px;
  }
  .xlarg-text{
    font-size:4rem;
  }
  .flex-space-between.responsive{
    flex-direction: column;
  }
  .flex-space-between.responsive-reverse{
    flex-direction: column-reverse;
    justify-content:left;
    align-items: flex-start;
  }
  .flex-space-around.responsive{
    flex-direction: column;
  }
/*start header*/
  header{
    margin-top:20px;
  }
  header .logo{
    height:20px;
  }
  header h1{
    margin-top:140px;
  }
  header .btn.free-try{
    font-size:.8rem;
    padding:5px 20px;
  }
  header .screen-mockups>img{
    width:90%;
  }
/*end header*/
/*start carde*/
  .carde:not(:last-child){
    margin-bottom:80px;
  }
  .carde>#title{
    font-size:1rem;
  }
/*end carde*/
/*start features*/
  section.altern:nth-child(2n+1)>.features.flex-space-between.responsive{
    flex-direction: column;
  }
  .features>div{
    width:100%;
    text-align: center;
  }
  .features>div>p{
    margin-right:auto;
    margin-left:auto;
  }
  .features>.illustration{
    margin-bottom:60px;
  }
  .features>.illustration>img{
    width:80%;
  }
/*end features*/
/*start footer*/
  footer>.container>div:not(:first-child){
    margin-bottom:40px;
  }
  footer .logo{
    height:20px;
  }
  footer h1{
    font-size:1.4rem;
  }
  footer p{
    font-size:.85rem;
  }
  footer [type="email"],footer [type="submit"]{
    font-size:.9rem;
  }
/*end footer*/
}