*{
  box-sizing:border-box;
}
html{
  font-size:15px;
}
body{
  margin:0;
  font-family:'Open Sans',sans-serif;
}
a,a:link{
  text-decoration: none;
}
.container{
  max-width:1240px;
  min-width: 300px;
  margin:0 auto;
  padding:0 20px;
}
.flex-space-between{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-family: 'Poppins';
  font-weight:700;
  font-family:2rem;
  margin:1em 0 0.5em;
  line-height:1.6;
}
.larg-h{
  font-size:2.6rem;
}
p{
  font-weight:400;
  max-width:56ch;
  font-size:1rem;
  margin:0.5em 0;
  line-height:1.6;
}
.larg-p{
  font-size:1.15rem;
}
p.centered{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.btn{
  display:inline-block;
}
.btn.larg{
  background-color:hsl(322, 100%, 66%);
  color:#fff;
  padding:25px 100px;
  border-radius:100px;
  font-size:1.2rem;
  font-weight:600;
  margin:2rem 0 1rem;
  box-shadow:0 4px 8px rgba(0,0,0,0.2);
}
.center{
  text-align: center;
}
/*start header*/
header{
  margin:40px 0 0;
  border-bottom:solid 1px;
}
header .logo{
  height:30px;
}
header .btn.free-try{
  color:hsl(322, 100%, 66%);
  font-size:1.1rem;
  font-weight:400;
  padding:5px 30px;
  border:solid 1px;
  border-radius:30px;
}
header h1{
  text-align:center;
  margin-top:200px;
}
header .screen-mockups{
  margin:80px 0;
}
header .screen-mockups>img{
  width:80%;
}
/*end header*/
@media (max-width:600px){
  p{
    max-width:38ch;
  }
  .larg-h{
    font-size:1.9rem;
  }
  .larg-p{
    font-size:.9rem;
  }
  .btn.larg{
    font-size:1rem;
    padding:15px 50px;
  }
  header .logo{
    height:20px;
  }
  header .btn.free-try{
    font-size:.8rem;
    padding:5px 20px;
  }
  header .screen-mockups>img{
    width:90%;
  }
}